<div class="grid grid-cols-10 justify-center gap-1 py-4 max-w-md m-auto">
    <!-- Row 1 -->
    <button (click)="onKey(key.q)" class="h-12 bg-gray-300 rounded text-lg font-bold">Q</button>
    <button (click)="onKey(key.w)" class="h-12 bg-gray-300 rounded text-lg font-bold">W</button>
    <button (click)="onKey(key.e)" class="h-12 bg-gray-300 rounded text-lg font-bold">E</button>
    <button (click)="onKey(key.r)" class="h-12 bg-gray-300 rounded text-lg font-bold">R</button>
    <button (click)="onKey(key.t)" class="h-12 bg-gray-300 rounded text-lg font-bold">T</button>
    <button (click)="onKey(key.y)" class="h-12 bg-gray-300 rounded text-lg font-bold">Y</button>
    <button (click)="onKey(key.u)" class="h-12 bg-gray-300 rounded text-lg font-bold">U</button>
    <button (click)="onKey(key.i)" class="h-12 bg-gray-300 rounded text-lg font-bold">I</button>
    <button (click)="onKey(key.o)" class="h-12 bg-gray-300 rounded text-lg font-bold">O</button>
    <button (click)="onKey(key.p)" class="h-12 bg-gray-300 rounded text-lg font-bold">P</button>

    <!-- Row 2 -->
    <button (click)="onKey(key.a)" class="h-12 bg-gray-300 rounded text-lg font-bold">A</button>
    <button (click)="onKey(key.s)" class="h-12 bg-gray-300 rounded text-lg font-bold">S</button>
    <button (click)="onKey(key.d)" class="h-12 bg-gray-300 rounded text-lg font-bold">D</button>
    <button (click)="onKey(key.f)" class="h-12 bg-gray-300 rounded text-lg font-bold">F</button>
    <button (click)="onKey(key.g)" class="h-12 bg-gray-300 rounded text-lg font-bold">G</button>
    <button (click)="onKey(key.h)" class="h-12 bg-gray-300 rounded text-lg font-bold">H</button>
    <button (click)="onKey(key.j)" class="h-12 bg-gray-300 rounded text-lg font-bold">J</button>
    <button (click)="onKey(key.k)" class="h-12 bg-gray-300 rounded text-lg font-bold">K</button>
    <button (click)="onKey(key.l)" class="h-12 bg-gray-300 rounded text-lg font-bold">L</button>

    <button (click)="onKey(key.del)" class="h-12 bg-gray-300 rounded text-lg font-bold">
        <img class="w-5 mx-auto" src="./assets/delete.png" />
    </button>

    <!-- Row 3 -->
    <div></div>
    <button (click)="onKey(key.z)" class="h-12 bg-gray-300 rounded text-lg font-bold">Z</button>
    <button (click)="onKey(key.x)" class="h-12 bg-gray-300 rounded text-lg font-bold">X</button>
    <button (click)="onKey(key.c)" class="h-12 bg-gray-300 rounded text-lg font-bold">C</button>
    <button (click)="onKey(key.v)" class="h-12 bg-gray-300 rounded text-lg font-bold">V</button>
    <button (click)="onKey(key.b)" class="h-12 bg-gray-300 rounded text-lg font-bold">B</button>
    <button (click)="onKey(key.n)" class="h-12 bg-gray-300 rounded text-lg font-bold">N</button>
    <button (click)="onKey(key.m)" class="h-12 bg-gray-300 rounded text-lg font-bold">M</button>
    <div></div>
    <div></div>
</div>
