<header class="my-6 flex w-full justify-center items-end gap-4">
    <div class="w-16 h-full"><mode /></div>
    <h1 class="text-2xl md:text-4xl font-bold text-gray-800 text-center">Woordjes</h1>
    <div class="w-16 h-full"><language /></div>
</header>

<main class="flex-1">
    @if (mode.current() === modeType.wordle) {
        <wordle />
    } @else if (mode.current() === modeType.search) {
        <search />
    }
    <answers />
</main>

<footer class="w-full sticky bottom-0 bg-gray-100">
    <keyboard />
</footer>
